<!DOCTYPE html>
<html lang="En">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo lists Details</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
               <p>Created_on: {{ todo_list.created_on}} </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                    <th>Task</th>
                    <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo_list.items.all %}
                    <tr>
                         <td>{{ task.task }}</td>
                         <td>{{ task.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
   
</body>

</html>    